.header {
  padding-top: 37px;
  background-color: var(--bg-third-color);

  &__inner {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    gap: 20px;
    justify-content: space-between;
  }

  &__logo {
  }

  &__nav {
  }

  &__nav-list {
    display: flex;
    gap: 35px;
  }

  &__nav-link {
    font-size: 16px;
    line-height: 1.31;
  }
}
