<footer class="footer">
  <div class="container">
    <div class="footer__block-position">
      <ul class="list">
        <li><p class="footer__second-text">homemade ice cream made</p></li>
        <li><p class="footer__main-text">with passion</p></li>
      </ul>

      <div class="footer__contact-block">
        <ul class="list footer__list">
          <li class="footer__contact-item">
            <a href="#">
              <img
                class="footer__github-logo"
                src="./images/github.svg"
                alt="Логотип гитхаб"
              />
            </a>
          </li>
          <li class="footer__contact-item">
            <a href="#">
              <img
                class="footer__telegram-logo"
                src="./images/telegram.svg"
                alt="логотип телеграма"
              />
            </a>
          </li>
          <li class="footer__contact-item">
            <a href="#"
              ><img
                class="footer__facebook-logo"
                src="./images/facebook.svg"
                alt="логотип фэйсбук"
            /></a>
          </li>
        </ul>
        <p>Feel free to contact +61 (0) 383 766 284</p>
      </div>
    </div>

    <p>© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
