<header class="header">
  <div class="container">
    <div class="header__inner">
      <a
        class="link header__logo"
        href="./index.html"
        title="IceCream - made with passion"
        aria-label="link to IceCream webpage"
      >
        <img
          src="./images/logo.svg"
          alt="IceCream company logo"
          width="199px"
          height="50px"
        />
      </a>
      <nav class="header__nav">
        <ul class="list header__nav-list">
          <a href="#home" class="link header__nav-link">Home</a>
          <a href="#about" class="link header__nav-link">About us</a>
          <a href="#how" class="link header__nav-link">How it’s made?</a>
          <a href="#product" class="link header__nav-link">Our products</a>
          <a href="#contact" class="link header__nav-link">Contact</a>
        </ul>
      </nav>
      <button class="button">Buy now</button>
    </div>
  </div>
</header>
